* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  font-family: Montserrat, sans-serif;
  background-color: #dff6ff !important;
}

.line {
  width: 150px;
  height: 4px;
  background: #fc036b;
  margin: 10px auto;
  border-radius: 5px;
}

section {
  width: 80%;
  margin: 80px auto 0px auto;
}

/*header*/

header {
  width: 100%;
  height: 100vh;
  background-image: url("https://cdn.pixabay.com/photo/2019/02/03/17/41/sunset-3973107_1280.jpg");
  background-position: bottom;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: left;
}

.economy {
  margin-top: 250px;
  color: whitesmoke;
  text-align: center;
  margin-left: 2%;
}

.economy h2 {
  font-size: 13vmin;
  font-weight: 650;
}

/*header*/
/* Navbar */

.navbar-brand {
  font-size: 2rem !important;
  font-weight: bold;
}
.navbar {
  font-weight: bold;
}
.navigationDropdown ul {
  background-color: #1363df;
  border: 1px solid white;
  text-align: center;
}
.navigationDropdown a {
  color: white;
}
.navigationDropdown a:hover {
  color: white;
  background-color: #0d4599;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    0px 1px 28px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 10px 13px -7px #000000, 0px 1px 28px 6px rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid white;

  border: 1px solid white;
}

.navbar-nav .nav-item:hover {
  background-color: #0d4599;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    0px 1px 28px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 10px 13px -7px #000000, 0px 1px 28px 6px rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid white;
}
.nav-item {
  font-size: 1.3rem;
}
.nav-item .nav-link {
  border-bottom: 1px solid white;
}
nav {
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 99;
}
.resNavBar {
  background-color: transparent;
}

/* Navbar */
/*economy discription*/
.economy-dis {
  text-align: center;
  font-size: 5vmin;
  color: #2f3640;
}

.economy-dis p {
  margin-top: 30px;
  font-weight: bold;
  font-size: 3vmin;
  text-align: justify;
}

/*economy discription*/

/*resources*/
.resources {
  text-align: center;
  font-size: 5vmin;
  color: #2f3640;
}

.resources p {
  margin-top: 30px;
  font-weight: bold;
  font-size: 3vmin;
  text-align: justify;
}
/*resources*/

/*Agriculture, forestry, and fishing*/
.agri {
  text-align: center;
  font-size: 5vmin;
  color: #2f3640;
}

.agri p {
  margin-top: 30px;
  font-weight: bold;
  font-size: 3vmin;
  text-align: justify;
}
/*Agriculture, forestry, and fishing*/

/*Industry of Sri Lanka*/
.industry {
  text-align: center;
  font-size: 5vmin;
  color: #2f3640;
}

.industry p {
  margin-top: 30px;
  font-weight: bold;
  font-size: 3vmin;
  text-align: justify;
}
/*Industry of Sri Lanka*/

/* slider */
.carousel img {
  height: 90vh;
  width: 100%;
}
.carousel {
  margin: 0 auto;
  width: 100%;
}
/* slider */

/*finance*/
.finance {
  text-align: center;
  font-size: 5vmin;
  color: #2f3640;
}

.finance p {
  margin-top: 30px;
  font-weight: bold;
  font-size: 3vmin;
  text-align: justify;
}
/*finance*/

/*trade*/
.trade {
  text-align: center;
  font-size: 5vmin;
  color: #2f3640;
}

.trade p {
  margin-top: 30px;
  font-weight: bold;
  font-size: 3vmin;
  text-align: justify;
}
/*trade*/

/*Transportation*/
.transportation {
  text-align: center;
  font-size: 5vmin;
  color: #2f3640;
}

.transportation p {
  margin-top: 30px;
  font-weight: bold;
  font-size: 3vmin;
  text-align: justify;
}
/*Transportation*/
/* topButton */
#topButton {
  background-color: transparent;
  color: #ff0000;
  right: 18px;
  bottom: 0;
  position: fixed;
  z-index: 300;
  text-align: center;
  font-size: 40px;
  border: 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}
.fa-circle-arrow-up {
  border-radius: 100px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    0px 21px 14px 1px rgba(0, 0, 0, 0.04);
  box-shadow: 0px 10px 13px -7px #000000, 0px 21px 14px 1px rgba(0, 0, 0, 0.04);
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

#topButton:hover {
  cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;
}
/* topButton */
